<div class="boton-update">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
        data-bs-whatever="@mdo">
        Editar Partido
    </button>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            Actualizar Resultados
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)=" limpiarFormulario()"></button>
        </div>
        <div class="modal-body">
  
  
          <div class="formulario-actualizar">
            <div class="fila-select">
              <div>
                <select [(ngModel)]="opcionSeleccionado" (change)="capturar()" class="form-select form-select-sm">
                  <option value="0">Selecciona una opción</option>
                  <option *ngFor="let info of resultadoService.listaResultados" value="{{ info.id }}">
                   Partido # {{info.numeroPartido}}:
                    <hr class="mb-2">
                    {{ info.nombreEquipo }}
                    <hr class="mb-2">
                  </option>
                </select>
              </div>
  
              <div>
                <button type="button" class="btn btn-primary" (click)="editar(resultadoService.listaResultados)">
                  Editar
                </button>
              </div>
            </div>
  
            <div class="row">
              <div class="col-6">
                <label for="input">Nombre Equipo</label>
                <input type="text" class="form-control" [(ngModel)]="nombreEquipo" disabled />
              </div>
              <div class="col-6">
                <label>Id:</label>
                <input type="text" class="form-control" [(ngModel)]="id" disabled />
              </div>
            </div>
  
  
            <div class="row">
              <div class="col-6">
                <label>Goles a favor:</label>
                <input type="number" class="form-control" [(ngModel)]="gf" />
              </div>
              <div class="col-6">
                <label>Goles en contra:</label>
                <input type="number" class="form-control" [(ngModel)]="gc" />
              </div>
            </div>
  
  
            <div class="row">
              <div class="col-6">
                <label for="input">Numero partido:</label>
                <input type="number" class="form-control"[(ngModel)]="numeroPartido" disabled />
              </div>
              <div class="col-6">
                <label for="">Id equipo:</label>
                <input type="number" class="form-control" [(ngModel)]="equipoId" disabled/>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="limpiarFormulario()">
            Close
          </button>
          <button type="button" class="btn btn-success boton-editar" (click)="enviarInfo()">
            Actualizar
          </button>
        </div>
      </div>
    </div>
  </div>