<div class="contenedor-posiciones">
  <div class="grupos grupo-a">
    <h2>Grupo A</h2>
    <table>
        <thead>
            <tr>
              <th>Equipo</th>
              <th>PJ</th>
              <th>PG</th>
              <th>PE</th>
              <th>PP</th>
              <th>GF</th>
              <th>GC</th>
              <th>PTS</th>
              <th>ÚLTIMOS 5</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>Paises Bajos</td>
              <td>3</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>
                <div class="ultimos-partidos">
                  <div class="up1">
                    <mat-icon class="icon-victoria">check_circle</mat-icon>
                  </div>
                  <div class="up2">
                    <mat-icon class="icon-victoria">check_circle</mat-icon>
                  </div>
                  <div class="up3">
                    <mat-icon class="icon-derrota">cancel</mat-icon>
                  </div>
                  <div class="up4">
                    <mat-icon class="icon-empate">remove_circle</mat-icon>
                  </div>
                  <div class="up5">
                    <mat-icon class="icon-nojugo">circle</mat-icon>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Senegal</td>
              <td>3</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>
                <div class="ultimos-partidos">
                  <div class="up1">
                    <mat-icon class="icon-victoria">check_circle</mat-icon>
                  </div>
                  <div class="up2">
                    <mat-icon class="icon-victoria">check_circle</mat-icon>
                  </div>
                  <div class="up3">
                    <mat-icon class="icon-derrota">cancel</mat-icon>
                  </div>
                  <div class="up4">
                    <mat-icon class="icon-empate">remove_circle</mat-icon>
                  </div>
                  <div class="up5">
                    <mat-icon class="icon-nojugo">circle</mat-icon>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Ecuador</td>
              <td>3</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>
                <div class="ultimos-partidos">
                  <div class="up1">
                    <mat-icon class="icon-victoria">check_circle</mat-icon>
                  </div>
                  <div class="up2">
                    <mat-icon class="icon-victoria">check_circle</mat-icon>
                  </div>
                  <div class="up3">
                    <mat-icon class="icon-derrota">cancel</mat-icon>
                  </div>
                  <div class="up4">
                    <mat-icon class="icon-empate">remove_circle</mat-icon>
                  </div>
                  <div class="up5">
                    <mat-icon class="icon-nojugo">circle</mat-icon>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Catar</td>
              <td>3</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>
                <div class="ultimos-partidos">
                  <div class="up1">
                    <mat-icon class="icon-victoria">check_circle</mat-icon>
                  </div>
                  <div class="up2">
                    <mat-icon class="icon-victoria">check_circle</mat-icon>
                  </div>
                  <div class="up3">
                    <mat-icon class="icon-derrota">cancel</mat-icon>
                  </div>
                  <div class="up4">
                    <mat-icon class="icon-empate">remove_circle</mat-icon>
                  </div>
                  <div class="up5">
                    <mat-icon class="icon-nojugo">circle</mat-icon>
                  </div>
                </div>
              </td>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="grupos grupo-b">
    <h2>Grupo B</h2>
    <table>
        <thead>
            <tr>
              <th>Equipo</th>
              <th>PJ</th>
              <th>PG</th>
              <th>PE</th>
              <th>PP</th>
              <th>GF</th>
              <th>GC</th>
              <th>PTS</th>
              <th>ÚLTIMOS 5</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>Inglaterra</td>
              <td>3</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>
                <div class="ultimos-partidos">
                  <div class="up1">
                    <mat-icon class="icon-victoria">check_circle</mat-icon>
                  </div>
                  <div class="up2">
                    <mat-icon class="icon-victoria">check_circle</mat-icon>
                  </div>
                  <div class="up3">
                    <mat-icon class="icon-derrota">cancel</mat-icon>
                  </div>
                  <div class="up4">
                    <mat-icon class="icon-empate">remove_circle</mat-icon>
                  </div>
                  <div class="up5">
                    <mat-icon class="icon-nojugo">circle</mat-icon>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Estados Unidos</td>
              <td>3</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>
                <div class="ultimos-partidos">
                  <div class="up1">
                    <mat-icon class="icon-victoria">check_circle</mat-icon>
                  </div>
                  <div class="up2">
                    <mat-icon class="icon-victoria">check_circle</mat-icon>
                  </div>
                  <div class="up3">
                    <mat-icon class="icon-derrota">cancel</mat-icon>
                  </div>
                  <div class="up4">
                    <mat-icon class="icon-empate">remove_circle</mat-icon>
                  </div>
                  <div class="up5">
                    <mat-icon class="icon-nojugo">circle</mat-icon>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Irán</td>
              <td>3</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>
                <div class="ultimos-partidos">
                  <div class="up1">
                    <mat-icon class="icon-victoria">check_circle</mat-icon>
                  </div>
                  <div class="up2">
                    <mat-icon class="icon-victoria">check_circle</mat-icon>
                  </div>
                  <div class="up3">
                    <mat-icon class="icon-derrota">cancel</mat-icon>
                  </div>
                  <div class="up4">
                    <mat-icon class="icon-empate">remove_circle</mat-icon>
                  </div>
                  <div class="up5">
                    <mat-icon class="icon-nojugo">circle</mat-icon>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>Gales</td>
              <td>3</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>2</td>
              <td>
                <div class="ultimos-partidos">
                  <div class="up1">
                    <mat-icon class="icon-victoria">check_circle</mat-icon>
                  </div>
                  <div class="up2">
                    <mat-icon class="icon-victoria">check_circle</mat-icon>
                  </div>
                  <div class="up3">
                    <mat-icon class="icon-derrota">cancel</mat-icon>
                  </div>
                  <div class="up4">
                    <mat-icon class="icon-empate">remove_circle</mat-icon>
                  </div>
                  <div class="up5">
                    <mat-icon class="icon-nojugo">circle</mat-icon>
                  </div>
                </div>
              </td>
            </tr>
        </tbody>
    </table>
  </div>
  <div class="rango">
    <h3>Últimos 5 partidos</h3>
    <div class="victoria">
        <mat-icon class="icon-victoria">check_circle</mat-icon> Ganó
    </div>
    <div class="empate">
        <mat-icon class="icon-empate">remove_circle</mat-icon> Empate
    </div>
    <div class="perdio">
        <mat-icon class="icon-derrota">cancel</mat-icon> Perdió
    </div>
    <div class="nojugo">
        <mat-icon class="icon-nojugo">circle</mat-icon> No jugó
    </div>
  </div>
</div>
<div class="divFooter">
  <app-footer></app-footer>
</div>
