<footer class="container-fluid contenedor-footer text-black col-lg-12">
        <div class="container text-center text-md-left">
                <hr class="mb-2">
                <div class="row text-center">
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                                <h3 class="mb-4 font-weight-bold">SEMILLEROS PROYECTO
                                        FINAL</h3>
                                <p>La Copa Mundial de Catar 2022 se disputará entre el 20 de noviembre y el 18 de
                                        diciembre en Catar. Será la 22ª edición de la competición</p>
                        </div>

                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                                <h5 class="mb-4 font-weight-bold">SEDES</h5>
                                <p>
                                        &nbsp;Medellín
                                </p>
                                <p>
                                        &nbsp;Bogota
                                </p>
                                <p>
                                        &nbsp;Cali
                                </p>
                                <p>
                                        &nbsp;Barranquilla
                                </p>
                        </div>

                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                                <h5 class="mb-4 font-weight-bold">NUESTRAS REDES</h5>
                                <p>
                                        <i class='bx bxl-linkedin-square'></i>&nbsp;Linkedln
                                </p>
                                <p>
                                        <i class='bx bxl-facebook-circle'></i>&nbsp;Facebook
                                </p>
                                <p>
                                        <i class='bx bxl-twitter'></i>&nbsp;Twitter
                                </p>
                                <p class="text-white">
                                        <i class='bx bxl-instagram-alt'></i>&nbsp;Instagram
                                </p>
                        </div>

                        <div class="col-md-4 col-lg-3 col-xl-2 mx-auto mt-3">
                                <h5 class="mb-4 font-weight-bold">MÁS INFORMACIÓN</h5>
                                <p>
                                        <i class='bx bxs-envelope'></i>&nbsp;xxxx@gmail.com
                                </p>
                                <p>
                                        <i class='bx bxs-phone'></i>&nbsp;+57 3216789056
                                </p>
                                <p>
                                        <i class='bx bxs-time-five'></i>&nbsp;L-V 7A.M - 5P.M
                                </p>
                                <p>
                                        <i class='bx bxs-map'></i>&nbsp;Colombia
                                </p>
                        </div>
                </div>

                <hr class="mb-2">

                <div class="row align-items-center">
                        <div class="col-md-7 col-lg-12">
                                <p> Copyright @2022 todos los derechos reservados por:

                                        <strong>SEMILLEROS PROYECTO FINAL</strong>

                                </p>
                        </div>
                </div>
        </div>
</footer>