<div class="contenedor-page jugadores">
    <div class="subcontenedor">
        <div class="list-cards">
            <div class="card">
                <div class="imagen">
                    <img mat-card-image
                        src="https://img.a.transfermarkt.technology/portrait/big/28003-1631171950.jpg?lm=1"
                        height="100px" />
                </div>
                <div class="card-content">
                    <div class="nombre">Nombre</div>
                    <div class="posicion">Posición</div>
                    <div class="equipo">Nombre equipo</div>
                </div>        
            </div>
            <div class="card">
                <div class="imagen">
                    <img mat-card-image
                        src="https://img.a.transfermarkt.technology/portrait/big/28003-1631171950.jpg?lm=1"
                        height="100px" />
                </div>
                <div class="card-content">
                    <div class="nombre">Nombre</div>
                    <div class="posicion">Posición</div>
                    <div class="equipo">Nombre equipo</div>
                </div>        
            </div>
            <div class="card">
                <div class="imagen">
                    <img mat-card-image
                        src="https://img.a.transfermarkt.technology/portrait/big/28003-1631171950.jpg?lm=1"
                        height="100px" />
                </div>
                <div class="card-content">
                    <div class="nombre">Nombre</div>
                    <div class="posicion">Posición</div>
                    <div class="equipo">Nombre equipo</div>
                </div>        
            </div>
            <div class="card">
                <div class="imagen">
                    <img mat-card-image
                        src="https://img.a.transfermarkt.technology/portrait/big/28003-1631171950.jpg?lm=1"
                        height="100px" />
                </div>
                <div class="card-content">
                    <div class="nombre">Nombre</div>
                    <div class="posicion">Posición</div>
                    <div class="equipo">Nombre equipo</div>
                </div>        
            </div>
            <div class="card">
                <div class="imagen">
                    <img mat-card-image
                        src="https://img.a.transfermarkt.technology/portrait/big/28003-1631171950.jpg?lm=1"
                        height="100px" />
                </div>
                <div class="card-content">
                    <div class="nombre">Nombre</div>
                    <div class="posicion">Posición</div>
                    <div class="equipo">Nombre equipo</div>
                </div>        
            </div>
            <div class="card">
                <div class="imagen">
                    <img mat-card-image
                        src="https://img.a.transfermarkt.technology/portrait/big/28003-1631171950.jpg?lm=1"
                        height="100px" />
                </div>
                <div class="card-content">
                    <div class="nombre">Nombre</div>
                    <div class="posicion">Posición</div>
                    <div class="equipo">Nombre equipo</div>
                </div>        
            </div>
            <div class="card">
                <div class="imagen">
                    <img mat-card-image
                        src="https://img.a.transfermarkt.technology/portrait/big/28003-1631171950.jpg?lm=1"
                        height="100px" />
                </div>
                <div class="card-content">
                    <div class="nombre">Nombre</div>
                    <div class="posicion">Posición</div>
                    <div class="equipo">Nombre equipo</div>
                </div>        
            </div>
            <div class="card">
                <div class="imagen">
                    <img mat-card-image
                        src="https://img.a.transfermarkt.technology/portrait/big/28003-1631171950.jpg?lm=1"
                        height="100px" />
                </div>
                <div class="card-content">
                    <div class="nombre">Nombre</div>
                    <div class="posicion">Posición</div>
                    <div class="equipo">Nombre equipo</div>
                </div>        
            </div>
            <div class="card">
                <div class="imagen">
                    <img mat-card-image
                        src="https://img.a.transfermarkt.technology/portrait/big/28003-1631171950.jpg?lm=1"
                        height="100px" />
                </div>
                <div class="card-content">
                    <div class="nombre">Nombre</div>
                    <div class="posicion">Posición</div>
                    <div class="equipo">Nombre equipo</div>
                </div>        
            </div>
        </div>
        
       
    </div>
</div>
<div class="divFooter">
    <app-footer></app-footer>
</div>