<div class="contenedor">
    <div>
        <mat-grid-list cols="7" rowHeight="180px">
            <mat-grid-tile>
                <mat-card>
                    <img mat-card-image
                        src="https://img.a.transfermarkt.technology/portrait/big/28003-1631171950.jpg?lm=1"
                        height="100px" />

                    <mat-card-content>
                        Nombre
                        <mat-card-subtitle>Centrocampi..</mat-card-subtitle>
                    </mat-card-content>
                    <mat-card-footer> Nombre equipo </mat-card-footer>
                </mat-card>
            </mat-grid-tile> 
            <mat-grid-tile>
                <mat-card>
                    <img mat-card-image
                        src="https://img.a.transfermarkt.technology/portrait/big/28003-1631171950.jpg?lm=1"
                        height="100px" />

                    <mat-card-content>
                        Nombre
                        <mat-card-subtitle>Centrocampi..</mat-card-subtitle>
                    </mat-card-content>

                    <mat-card-footer> Nombre equipo </mat-card-footer>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card>
                    <img mat-card-image
                        src="https://img.a.transfermarkt.technology/portrait/big/28003-1631171950.jpg?lm=1"
                        height="100px" />

                    <mat-card-content>
                        Nombre
                        <mat-card-subtitle>Centrocampi..</mat-card-subtitle>
                    </mat-card-content>

                    <mat-card-footer> Nombre equipo </mat-card-footer>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card>
                    <img mat-card-image
                        src="https://img.a.transfermarkt.technology/portrait/big/28003-1631171950.jpg?lm=1"
                        height="100px" />

                    <mat-card-content>
                        Nombre
                        <mat-card-subtitle>Centrocampi..</mat-card-subtitle>
                    </mat-card-content>

                    <mat-card-footer> Nombre equipo </mat-card-footer>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card>
                    <img mat-card-image
                        src="https://img.a.transfermarkt.technology/portrait/big/28003-1631171950.jpg?lm=1"
                        height="100px" />

                    <mat-card-content>
                        Nombre
                        <mat-card-subtitle>Centrocampi..</mat-card-subtitle>
                    </mat-card-content>

                    <mat-card-footer> Nombre equipo </mat-card-footer>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card>
                    <img mat-card-image
                        src="https://img.a.transfermarkt.technology/portrait/big/28003-1631171950.jpg?lm=1"
                        height="100px" />

                    <mat-card-content>
                        Nombre
                        <mat-card-subtitle>Centrocampi..</mat-card-subtitle>
                    </mat-card-content>

                    <mat-card-footer> Nombre equipo </mat-card-footer>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card>
                    <img mat-card-image
                        src="https://img.a.transfermarkt.technology/portrait/big/28003-1631171950.jpg?lm=1"
                        height="100px" />

                    <mat-card-content>
                        Nombre
                        <mat-card-subtitle>Centrocampi..</mat-card-subtitle>
                    </mat-card-content>

                    <mat-card-footer> Nombre equipo </mat-card-footer>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card>
                    <img mat-card-image
                        src="https://img.a.transfermarkt.technology/portrait/big/28003-1631171950.jpg?lm=1"
                        height="100px" />

                    <mat-card-content>
                        Nombre
                        <mat-card-subtitle>Centrocampi..</mat-card-subtitle>
                    </mat-card-content>

                    <mat-card-footer> Nombre equipo </mat-card-footer>
                </mat-card>
            </mat-grid-tile>
         
        </mat-grid-list>
    </div>
</div>