mat-grid-tile {
  border-radius: 6px;
}

.contenedor{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor div{
  margin-top: 10px;
  width: 70%;
  padding: 10px;
  background-color: #202124;
}
mat-card{
  margin-bottom: 10px;
  height: 100%;
  border: 0.5px solid #838588;
}
mat-card-content{
  font-size: 16px;
  margin-top: 6px;
  color: white;
  text-align: center;
}
mat-card-footer{
  font-size: 12px;
  color: white;
  text-align: center;
}