.contenedor-page.jugadores {
  max-width: 880px;
  margin: 15px auto;
  background-color: #202124;
  padding: 15px;
  color: #bdc1c6;
}

.contenedor-page.jugadores .list-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.list-cards {
  justify-content: center;
}

.contenedor-page.jugadores .card {
  width: 120px;
  border: 1px solid #3c4043;
  border-radius: 8px;
  overflow: hidden;
}

.contenedor-page.jugadores .imagen {
  /* height: 100%; */
  width: 100%;
}

.contenedor-page.jugadores .imagen img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.contenedor-page.jugadores .card-content {
  padding: 7px 8px;
}

.contenedor-page.jugadores .card-content > div {
  padding-bottom: 5px;
}

.contenedor-page.jugadores .card-content .posicion,
.contenedor-page.jugadores .card-content .equipo {
  color: #9aa0a6;
  font-size: 12px;
  line-height: 16px;
}

.contenedor-page.jugadores .card-content .nombre,
.contenedor-page.jugadores .card-content .apellido {
  color: black;
}
.nombre {
  font-size: 12px;
}
.apellido {
  font-size: 12px;
  line-height: 12px;
}
.card-footer {
  height: 100%;
}

.card-footer .equipo > p {
  color: #2e3031;
  font-size: 12px;
}
