.toolbar {
  display: flex;
  flex-direction: column;
  height: 106px;
}
a{
  text-decoration: none;
  color: white;
}
.LogOut{
  font-family: arial, sans-serif;

}
.superior {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: arial, sans-serif;
  font-size: 16px;

}
.titulo-back {
  display: flex;
  align-items: center;

}
.titulo-back span {
  margin-left: 6px;
}

.inferior button {
  font-size: 12px;
  font-family: arial, sans-serif;
  padding: 20px 20px;
}
.inferior button:hover{
    border-radius: 0%;
}

app-nav-bar{
  position: relative;
}

.button-responsive{
  display: none;
}

.toolbar-responsive{
  display: none;
}


@media (max-width: 767px) {
  .mat-toolbar .inferior {
    display: none;
  }

   .toolbar-responsive{
      display: block;
      position: fixed;
      top: 0;
      left: -1000px;
      height: 100%;
      z-index: 1001;
      max-width: 320px;
      padding: 0;
      transition: 0.3s;
      box-shadow: 0px 0px 11px #000;
  }
  
   .toolbar-responsive .menu-responsive{
      width: 100%;
      height: 100%;
      background-color: #c2185b;
      
  }
  
  .toolbar-responsive .menu-responsive .menu{
      display: flex;
      flex-direction: column;
      
  }
  
  .toolbar-responsive.visible{
      left: 0px;
  }
 
 .button-responsive{
     align-self: flex-start;
     display: block;
 }
 
  .button-responsive
  button{
      background: transparent;
      box-shadow: none;
      padding: 5px 10px;
      color: #fff;
      border: none;
  }
  
  .menu-responsive .button-close{
      display: flex;
      justify-content: flex-end;
  }
  
  .menu-responsive .button-close button{
      background: transparent;
      box-shadow: none;
      border: none;
      color: #fff;
      padding: 15px;
  }
  
  .menu-responsive .logo{
      text-align: center;
      
  }
  
  .menu-responsive .logo img{
      width: 50%;
      height: auto;
  }
  
  .menu-responsive .menu a{
      padding: 10px;
  }
  
  .menu-responsive .menu a button{
      width: 100%;
      font-size: 16px;
  }
}

@media (max-width: 425px){
  .superior span.text-top{
      font-size: 12px;
  }
  
  .superior .button-back{
      font-size: 20px;
  }
  
 
}
