<mat-toolbar color="primary" class="toolbar">
  <div class="superior">
    <div class="titulo-back">
      <mat-icon> <a href="login"> arrow_back</a></mat-icon>
      <span>Copa Mundial de la FIFA Catar 2022™</span>
    </div>
      <button mat-button><a href="login" class="LogOut">Log Out</a></button>
  </div>

  <div class="inferior">
    <button mat-button><a href="partidos">PARTIDOS</a></button>
    <button mat-button> <a href="jugadores">JUGADORES</a></button>
    <button mat-button>ESTADISTICAS</button>
    <button mat-button>POSICIONES</button>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>