<mat-toolbar color="primary" class="toolbar">
  <div class="superior">
    <div class="titulo-back">
      <mat-icon> <a href="login"> arrow_back</a></mat-icon>
      <span>Copa Mundial de la FIFA Catar 2022™</span>
    </div>
    <a href="login" class="LogOut"><button mat-button>Log In</button></a>
  </div>

  <div class="inferior">
    <a href="partidos"><button mat-button>PARTIDOS</button></a>
    <a href="jugadores"><button mat-button>JUGADORES</button></a>
    <button mat-button>ESTADISTICAS</button>
   <a href="posiciones"><button mat-button>POSICIONES</button></a>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>