<div class="contenedor-page partidos">
  <div class="divTitulo">
    <div class="containerTitulo">
      <h3>Fases de grupos 20/11</h3>
    </div>
  </div>
  <div class="contenedor">
    <div class="Subcontenedor">
      <div class="div1">
        <mat-card class="example-card card1">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Grupo A</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <div class="conetenedorCard">
              <div class="info1">
                <div>
                  <p>Equipo</p>
                  <p>Equipo</p>
                </div>
                <div>
                  <p>6</p>
                  <p>6</p>
                </div>
              </div>
              <div class="info2">
                <div>
                  <p>Fin</p>          
                  <span>20/11</span>
                </div>
                <img src="https://st1.uvnimg.com/d8/85/299e98b4496f9f66ae536dd6ac88/catar-vs.%20Ecuador.jpeg" alt="" width="70px" height="38px">
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
  
      <div class="div2">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Grupo B</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <div class="conetenedorCard">
              <div class="info1">
                <div>
                  <p>Equipo</p>
                  <p>Equipo</p>
                </div>
                <div>
                  <p>6</p>
                  <p>6</p>
                </div>
              </div>
              <div class="info2">
                <div>
                  <p>Fin</p>          
                  <span>20/11</span>
                </div>
                <img src="https://st1.uvnimg.com/d8/85/299e98b4496f9f66ae536dd6ac88/catar-vs.%20Ecuador.jpeg" alt="" width="70px" height="38px">
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>  
  <div class="divTitulo">
    <div class="containerTitulo">
      <h3>Fases de grupos 21/11</h3>
    </div>
  </div>
  <div class="contenedor">
    <div class="Subcontenedor">
      <div class="div1">
        <mat-card class="example-card card1">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Grupo A</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <div class="conetenedorCard">
              <div class="info1">
                <div>
                  <p>Equipo</p>
                  <p>Equipo</p>
                </div>
                <div>
                  <p>6</p>
                  <p>6</p>
                </div>
              </div>
              <div class="info2">
                <div>
                  <p>Fin</p>          
                  <span>21/11</span>
                </div>
                <img src="https://st1.uvnimg.com/d8/85/299e98b4496f9f66ae536dd6ac88/catar-vs.%20Ecuador.jpeg" alt="" width="70px" height="38px">
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
  
      <div class="div2">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Grupo B</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <div class="conetenedorCard">
              <div class="info1">
                <div>
                  <p>Equipo</p>
                  <p>Equipo</p>
                </div>
                <div>
                  <p>6</p>
                  <p>6</p>
                </div>
              </div>
              <div class="info2">
                <div>
                  <p>Fin</p>          
                  <span>21/11</span>
                </div>
                <img src="https://st1.uvnimg.com/d8/85/299e98b4496f9f66ae536dd6ac88/catar-vs.%20Ecuador.jpeg" alt="" width="70px" height="38px">
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
  
    </div>
  </div>
</div>
<div class="divFooter">
  <app-footer></app-footer>
</div>
