<div class="contenedor-page partidos">
  <div *ngIf="admin">
    <app-form-update-partidos></app-form-update-partidos>
  </div>

  <div class="divTitulo">
    <div class="containerTitulo">
      <h3>Fases de grupos 20/11</h3>
    </div>
  </div>

  <div class="contenedor">
    <div class="Subcontenedor">

      <div class="div1">
        <mat-card class="example-card card1">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Grupo A - Partido 1</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <div class="conetenedorCard">
              <div class="info1">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let item of serviceResultado.listaResultados">
                      <td *ngIf="item.numeroPartido == 1">{{item.nombreEquipo}}</td>
                      <td *ngIf="item.numeroPartido == 1">{{item.gf}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="info2">
                <div>
                  <p>Fin</p>
                  <span>20/11</span>
                </div>
                <img src="https://st1.uvnimg.com/d8/85/299e98b4496f9f66ae536dd6ac88/catar-vs.%20Ecuador.jpeg" alt=""
                  width="70px" height="38px">
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="div2">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Grupo A - Partido 2</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <div class="conetenedorCard">
              <div class="info1">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let item of serviceResultado.listaResultados">
                      <td *ngIf="item.numeroPartido == 2">{{item.nombreEquipo}}</td>
                      <td *ngIf="item.numeroPartido == 2">{{item.gf}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="info2">
                <div>
                  <p>Fin</p>
                  <span>20/11</span>
                </div>
                <img src="https://st1.uvnimg.com/d8/85/299e98b4496f9f66ae536dd6ac88/catar-vs.%20Ecuador.jpeg" alt=""
                  width="70px" height="38px">
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </div>

  <div class="divTitulo">
    <div class="containerTitulo">
      <h3>Fases de grupos 21/11</h3>
    </div>
  </div>



  <div class="contenedor">
    <div class="Subcontenedor">

      <div class="div1">
        <mat-card class="example-card card1">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Grupo A - Partido 3</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <div class="conetenedorCard">
              <div class="info1">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let item of serviceResultado.listaResultados">
                      <td *ngIf="item.numeroPartido == 3">{{item.nombreEquipo}}</td>
                      <td *ngIf="item.numeroPartido == 3">{{item.gf}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="info2">
                <div>
                  <p>Fin</p>
                  <span>21/11</span>
                </div>
                <img src="https://st1.uvnimg.com/d8/85/299e98b4496f9f66ae536dd6ac88/catar-vs.%20Ecuador.jpeg" alt=""
                  width="70px" height="38px">
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="div2">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Grupo A - Partido 4</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <div class="conetenedorCard">
              <div class="info1">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let item of serviceResultado.listaResultados">
                      <td *ngIf="item.numeroPartido == 4">{{item.nombreEquipo}}</td>
                      <td *ngIf="item.numeroPartido == 4">{{item.gf}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="info2">
                <div>
                  <p>Fin</p>
                  <span>21/11</span>
                </div>
                <img src="https://st1.uvnimg.com/d8/85/299e98b4496f9f66ae536dd6ac88/catar-vs.%20Ecuador.jpeg" alt=""
                  width="70px" height="38px">
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>


  </div>
  <br>
  <div class="contenedor">
    <div class="Subcontenedor">

      <div class="div1">
        <mat-card class="example-card card1">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Grupo B - Partido 5</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <div class="conetenedorCard">
              <div class="info1">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let item of serviceResultado.listaResultados">
                      <td *ngIf="item.numeroPartido == 5">{{item.nombreEquipo}}</td>
                      <td *ngIf="item.numeroPartido == 5">{{item.gf}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="info2">
                <div>
                  <p>Fin</p>
                  <span>21/11</span>
                </div>
                <img src="https://st1.uvnimg.com/d8/85/299e98b4496f9f66ae536dd6ac88/catar-vs.%20Ecuador.jpeg" alt=""
                  width="70px" height="38px">
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="div2">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Grupo B - Partido 6</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <div class="conetenedorCard">
              <div class="info1">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let item of serviceResultado.listaResultados">
                      <td *ngIf="item.numeroPartido == 6">{{item.nombreEquipo}}</td>
                      <td *ngIf="item.numeroPartido == 6">{{item.gf}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="info2">
                <div>
                  <p>Fin</p>
                  <span>21/11</span>
                </div>
                <img src="https://st1.uvnimg.com/d8/85/299e98b4496f9f66ae536dd6ac88/catar-vs.%20Ecuador.jpeg" alt=""
                  width="70px" height="38px">
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>


  </div>

  <div class="divTitulo">
    <div class="containerTitulo">
      <h3>Fases de grupos 22/11</h3>
    </div>
  </div>

  <div class="contenedor">
    <div class="Subcontenedor">

      <div class="div1">
        <mat-card class="example-card card1">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Grupo B - Partido 7</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <div class="conetenedorCard">
              <div class="info1">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let item of serviceResultado.listaResultados">
                      <td *ngIf="item.numeroPartido == 7">{{item.nombreEquipo}}</td>
                      <td *ngIf="item.numeroPartido == 7">{{item.gf}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="info2">
                <div>
                  <p>Fin</p>
                  <span>22/11</span>
                </div>
                <img src="https://st1.uvnimg.com/d8/85/299e98b4496f9f66ae536dd6ac88/catar-vs.%20Ecuador.jpeg" alt=""
                  width="70px" height="38px">
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="div2">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Grupo B - Partido 8</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <div class="conetenedorCard">
              <div class="info1">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let item of serviceResultado.listaResultados">
                      <td *ngIf="item.numeroPartido == 8">{{item.nombreEquipo}}</td>
                      <td *ngIf="item.numeroPartido == 8">{{item.gf}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="info2">
                <div>
                  <p>Fin</p>
                  <span>22/11</span>
                </div>
                <img src="https://st1.uvnimg.com/d8/85/299e98b4496f9f66ae536dd6ac88/catar-vs.%20Ecuador.jpeg" alt=""
                  width="70px" height="38px">
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </div>
  <br>
  <div class="contenedor">
    <div class="Subcontenedor">

      <div class="div1">
        <mat-card class="example-card card1">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Grupo A - Partido 9</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <div class="conetenedorCard">
              <div class="info1">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let item of serviceResultado.listaResultados">
                      <td *ngIf="item.numeroPartido == 9">{{item.nombreEquipo}}</td>
                      <td *ngIf="item.numeroPartido == 9">{{item.gf}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="info2">
                <div>
                  <p>Fin</p>
                  <span>22/11</span>
                </div>
                <img src="https://st1.uvnimg.com/d8/85/299e98b4496f9f66ae536dd6ac88/catar-vs.%20Ecuador.jpeg" alt=""
                  width="70px" height="38px">
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="div2">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Grupo A - Partido 10</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <div class="conetenedorCard">
              <div class="info1">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let item of serviceResultado.listaResultados">
                      <td *ngIf="item.numeroPartido == 10">{{item.nombreEquipo}}</td>
                      <td *ngIf="item.numeroPartido == 10">{{item.gf}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="info2">
                <div>
                  <p>Fin</p>
                  <span>22/11</span>
                </div>
                <img src="https://st1.uvnimg.com/d8/85/299e98b4496f9f66ae536dd6ac88/catar-vs.%20Ecuador.jpeg" alt=""
                  width="70px" height="38px">
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>


  </div>

  <div class="divTitulo">
    <div class="containerTitulo">
      <h3>Fases de grupos 23/11</h3>
    </div>
  </div>

  <div class="contenedor">
    <div class="Subcontenedor">

      <div class="div1">
        <mat-card class="example-card card1">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Grupo B - Partido 11</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <div class="conetenedorCard">
              <div class="info1">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let item of serviceResultado.listaResultados">
                      <td *ngIf="item.numeroPartido == 11">{{item.nombreEquipo}}</td>
                      <td *ngIf="item.numeroPartido == 11">{{item.gf}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="info2">
                <div>
                  <p>Fin</p>
                  <span>23/11</span>
                </div>
                <img src="https://st1.uvnimg.com/d8/85/299e98b4496f9f66ae536dd6ac88/catar-vs.%20Ecuador.jpeg" alt=""
                  width="70px" height="38px">
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="div2">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>Grupo B - Partido 12</mat-card-title>
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            <div class="conetenedorCard">
              <div class="info1">
                <table class="table">
                  <tbody>
                    <tr *ngFor="let item of serviceResultado.listaResultados">
                      <td *ngIf="item.numeroPartido == 12">{{item.nombreEquipo}}</td>
                      <td *ngIf="item.numeroPartido == 12">{{item.gf}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="info2">
                <div>
                  <p>Fin</p>
                  <span>23/11</span>
                </div>
                <img src="https://st1.uvnimg.com/d8/85/299e98b4496f9f66ae536dd6ac88/catar-vs.%20Ecuador.jpeg" alt=""
                  width="70px" height="38px">
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </div>
</div>