<div class="contenedorLogin" >
  <mat-card class="example-card">
    <mat-card-header>
      <div class="divCardHeader">
        <div>
          <img class="imagen"src="https://img.freepik.com/premium-vector/fifa-world-cup-qatar-2022-logo-stylized-vector-isolated-illustration-with-football_633888-116.jpg?w=360" alt="">
        </div>
        <mat-card-title>Iniciar Sesión</mat-card-title>
        <mat-card-subtitle>¡Bienvenido!</mat-card-subtitle>
      </div>
    </mat-card-header>

    <mat-card-content>
      <form class="example-form"  >
        <mat-form-field class="example-full-width">
          <mat-label>Usuario</mat-label>
          <input matInput [errorStateMatcher]="matcher" placeholder="Ingrese usuario" 
          type="text"
          [(ngModel)]="nombre"
          name="nombre"
          />
          <mat-icon matSuffix>person_pin</mat-icon>
          <mat-error *ngIf="
              emailFormControl.hasError('nombre') &&
              !emailFormControl.hasError('required')
            ">
            Por favor ingrese un usuario valido ! 
          </mat-error>
          <mat-error *ngIf="emailFormControl.hasError('required')">
            Campo Usuario es <strong>requerido</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Contraseña</mat-label>
          <input matNativeControl 
          type="password"
          [(ngModel)]="clave"
          name="clave"
            />
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
      </form>
    </mat-card-content>


    
    <mat-card-actions class="botones">
      <button mat-button 
        (click)="login()"
        >INICIAR SESION
      </button>

    </mat-card-actions>
  </mat-card>
</div>

