<div class="container">
  <div class="divTitulo">
    <div class="containerTitulo">
      <div>
        <app-update-goleadores></app-update-goleadores>
      </div>

      <h3>Goles</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="cabeceraTable">Jugadores</th>
            <th scope="col" style="text-align: right; padding-right: 10px;" class="cabeceraTable">Goles</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of goleadoresservice.goleadores">
            <th>
              <img class="imgJugadores" src="assets/img/siluetaJugador.png" alt="">
              <p class="text">{{item.nombreJugador}}</p>
            </th>
            <td>{{item.goles}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="divTitulo">
    <div class="containerTitulo">

      <div style="display: block;">
        <app-update-asistencias></app-update-asistencias>
      </div>

      <h3>Asistencias</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="cabeceraTable">Jugadores</th>
            <th scope="col" style="text-align: right; padding-right: 10px" class="cabeceraTable">
              Asist
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of asistenciasservice.asistencias">
            <th>
              <img class="imgJugadores" src="assets/img/siluetaJugador.png" alt="" />
              <p class="text">{{item.nombreJugador}}</p>
            </th>
            <td>{{item.asistencias}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="divTitulo">
    <div class="containerTitulo">

      <div style="display: block;">
        <app-update-tarjetas-rojas></app-update-tarjetas-rojas>
      </div>

      <h3>Tarjetas Rojas</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" class="cabeceraTable">Jugadores</th>
            <th scope="col" style="text-align: right; padding-right: 15px" class="cabeceraTable">
              T/R
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tarjetasrojasservice.tarjetasrojas">
            <th>
              <img class="imgJugadores" src="assets/img/siluetaJugador.png" alt="" />
              <p class="text">{{item.nombreJugador}}</p>
            </th>
            <td>{{item.numero}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>