<div class="boton-update" *ngIf="admin">
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2"
    data-bs-whatever="@mdo">
    Editar
  </button>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 style="color: black;" class="modal-title fs-5" id="exampleModalLabel">
          Actualizar Asistencias
        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          (click)="limpiarFormulario()"></button>
      </div>
      <div class="modal-body">


        <div class="formulario-actualizar">
          <div class="fila-select">
            <div>
              <select [(ngModel)]="opcionSeleccionado" (change)="capturar()" class="form-select form-select-sm">
                <option value="0">Selecciona una opción</option>
                <option *ngFor="let info of asistente" value="{{info.id}}">
                  {{info.nombreJugador}}
                </option>
              </select>
            </div>

            <div>
              <button type="button" class="btn btn-primary" (click)="editar(asistente)">
                Editar
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <label for="input">Nombre Jugador</label>
              <input type="number" class="form-control" [(ngModel)]="nombreJugador" disabled />
            </div>
            <div class="col-6">
              <label>Id:</label>
              <input type="number" class="form-control" [(ngModel)]="id" disabled />
            </div>
          </div>


          <div class="row">
            <div class="col-6">
              <label>Asistencias:</label>
              <input type="number" class="form-control" [(ngModel)]="asistencias" />
            </div>
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-success boton-editar" (click)="enviarInfo()">
          Actualizar
        </button>
      </div>
    </div>
  </div>
</div>